.rive-toolbar {
  display: flex;
  background-color: var(--rive-color-toolbar-bg);
}

.rive-toolbar:first-child {
  border-bottom: 1px solid var(--rive-color-border);
}

.rive-toolbar:last-child {
  border-top: 1px solid var(--rive-color-border);
}
