.rrdu-toolbar {
  display: flex;
  background-color: var(--rrdu-color-toolbar-bg);
}

.rrdu-toolbar:first-child {
  border-bottom: 1px solid var(--rrdu-color-border);
}

.rrdu-toolbar:last-child {
  border-top: 1px solid var(--rrdu-color-border);
}
