.rive-tool-button {
  font-size: 12px;
  display: block;
  border: 0;
  padding: 4px 8px;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.rive-tool-button:hover {
  background: rgba(0, 0, 0, 0.05);
}

.rive-tool-button:active {
  background: rgba(0, 0, 0, 0.1);
}

.rive-tool-button svg {
  width: 1.1em;
  height: 1.1em;
  margin: -0.1em 0.5em -0.1em 0;
}

.rive-tool-button-success {
  color: var(--rive-color-success);
}
