.rive-alert {
  border: 1px solid var(--rive-color-info);
  border-radius: var(--rive-border-radius);
  padding: var(--rive-padding-y) var(--rive-padding-x);
  background-color: var(--rive-color-info-bg);
  font-size: var(--rive-font-size);
  margin-bottom: 1em;
  display: flex;
}

.rive-alert-icon {
  margin-right: var(--rive-padding-x);
  color: var(--rive-color-info);
}

.rive-alert-icon svg {
  display: block;
  width: 20px;
  height: 20px;
}

.rive-alert-success {
  border-color: var(--rive-color-success);
  background-color: var(--rive-color-success-bg);
}

.rive-alert-success .rive-alert-icon {
  color: var(--rive-color-success);
}

.rive-alert-warning {
  border-color: var(--rive-color-warning);
  background-color: var(--rive-color-warning-bg);
}

.rive-alert-warning .rive-alert-icon {
  color: var(--rive-color-warning);
}

.rive-alert-error {
  border-color: var(--rive-color-error);
  background-color: var(--rive-color-error-bg);
}

.rive-alert-error .rive-alert-icon {
  color: var(--rive-color-error);
}

.rive-alert-main > *:first-child {
  margin-top: 0;
}

.rive-alert-main > *:last-child {
  margin-bottom: 0;
}
