.rrdu-demo-block {
  color: var(--rrdu-color-text);
  border: 1px solid var(--rrdu-color-border);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.rrdu-demo-block .prism-code {
  margin: 0;
  border-radius: 0;
  padding: 8px 10px;
}

.rrdu-demo-block-preview {
  border-bottom: 1px solid var(--rrdu-color-border);
  padding: 10px;
  background: #f0f8ff;
  margin: 0;
}

.rrdu-demo-block-preview-disable-padding {
  padding: 0;
}

.rrdu-demo-block-error {
  padding: 10px;
  background: var(--rrdu-color-danger-bg);
  margin: 0;
  color: var(--rrdu-color-danger);
}
