.rive-demo-block {
  color: var(--rive-color-text);
  border: 1px solid var(--rive-color-border);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.rive-demo-block .prism-code {
  margin: 0;
  border-radius: 0;
  padding: 8px 10px;
}

.rive-demo-block-preview {
  border-bottom: 1px solid var(--rive-color-border);
  padding: 10px;
  background: #f0f8ff;
  margin: 0;
}

.rive-demo-block-preview-disable-padding {
  padding: 0;
}

.rive-demo-block-error {
  padding: 10px;
  background: var(--rive-color-error-bg);
  margin: 0;
  color: var(--rive-color-error);
}

.rive-demo-block-editor {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
}
