.rive-demo-block {
  color: var(--rive-color-text);
  border: 1px solid var(--rive-color-border);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.rive-demo-block-main {
  overflow: hidden;
}

.rive-demo-block-preview {
  margin: 0;
  padding: 10px;
  background: #f0f8ff;
}

.rive-demo-block-preview-disable-padding {
  padding: 0;
}

.rive-demo-block-develop {
  border-left: 1px solid var(--rive-color-border);
  border-top: 1px solid var(--rive-color-border);
  margin-left: -1px;
  margin-top: -1px;
  flex: 1 1 300px;
  overflow: hidden;
}

.rive-demo-block-error {
  padding: 10px;
  background: var(--rive-color-error-bg);
  margin: 0;
  color: var(--rive-color-error);
}

.rive-demo-block-editor {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
  overflow: auto;
}

.rive-demo-block-editor .prism-code {
  margin: 0;
  border-radius: 0;
  padding: 8px 10px;
  white-space: nowrap !important;
}

.rive-demo-block-mobile .rive-demo-block-main,
.rive-demo-block-tablet .rive-demo-block-main {
  display: flex;
  flex-wrap: wrap;
}

.rive-demo-block-mobile .rive-demo-block-preview {
  flex: 0 1 360px;
}

.rive-demo-block-tablet .rive-demo-block-preview {
  flex: 0 1 720px;
}
