:root {
  --rive-color-border: #d8d8d8;
  --rive-color-text: #333333;
  --rive-color-toolbar-bg: #f0f0f0;
  --rive-color-success: #198754;
  --rive-color-danger: #dc3545;
  --rive-color-danger-bg: #f3ccd0;
}
